body {
  font-family: 'myriad pro', sans-serif;
  font-size: 20px;
  border: 0;
  background: rgba(64, 139, 194, .2);
  margin: 0;
  padding: 100px;
}

video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 420px;
  height: 300px;
}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 420px;
  height: 300px;
}

.expand {
  position: absolute;
  right: 5%;
}

.expand:hover {
  color: purple;
}

.title {
  font-size: 30pt;
  width: 80%;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  background: white;
  border: 3px solid black;
  padding: 10px;
  border-radius: 5px;
  width: 80%;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
}

.long-form {
  padding: 0px;
  margin: 0px;
  width: 100%;
}

.links {
  background: transparent;
  border: none;
}

#forward-link {
  float: right;
}

#center-link {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
}

#backward-link {
  float: left;
}

table, th, td {
  border: 1px solid black;
  padding: 5px;
}

.header {
  font-weight: bold;
}